{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if create_record %}Add {{ object_type}}
    {% else %}Edit {{ object_type}}
    {% endif %}
{% endblock %}
{% block content %}
<div class="content-section">
  <div class="inner">
    <div class="center">
        {% if create_record %}<h1>Add {{ object_type}}</h1>
        {% else %}<h1>Edit {{ object_type}}</h1>
        {% endif %}
        <br/>
        {{ wtf.quick_form(form) }}
    </div>
  </div>
</div>
{% block footer %}{{  super() }}{% endblock footer%}
{% endblock %}
