<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Smart Garden, website to access sensor database.">
    <meta name="keywords" content="Garden, Smart, Database, Sensors,">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/Styles.css') }}" rel="stylesheet">

    <title>Smart Garden</title>
</head>

<body>
    <!--HEADER-->
    <section id="header">
        <!--NAVIGATION-->
        <!--Fixed NavBar Begins-->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                         <a class="nav-link" href="/">Lion's Gate Gardens</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="Charts">Charts<span class="sr-only">(current)</span></a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="welcome.html">Return to Project Select</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--Fixed NavBar Ends-->
    </section>

    <!--Insert database/chart script here-->

    <!--MAIN CONTENT-->
    <div class="container">
        <div class="jumbotron">
            <h2>Database Charts</h2>
            <p>
                Select the Sensor Station below to view the sensor readings within the garden.
            </p>
        </div>
		 <div class="content-section">
            <div class="inner">
              <br/>
              <h1 style="text-align:center;">Sensors</h1>

                <div style="text-align: center">
                    <div id="option-buttons" class="btn-grid">
                        <a href="BME280" class="btn">Sensor Station B</a>
                        <a href="DS18B20" class="btn">Sensor Station Y</a>
                        <a href="SEN0114" class="btn">Sensor Station R</a>
                        <a href="SHT21" class="btn">Sensor Station G</a>
                        <a href="TSL2591" class="btn">Sensor Station P</a>
                      </div>
                  <hr class="intro-divider">

                <a href="add-sensor.html" class="btn btn-default btn-lg">
                  <i class="fa fa-plus"></i>
                  Add Sensor Station
                </a>
              </div>
		<div class="container">
		</div>
        
    </div>

    <!-- FOOTER -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <ul>
                <li>
                    <h4>Address</h4>
                </li>
                <li>Edinburgh Napier University</li>
                <li>Merchsiton Campus</li>
                <li>10 Colinton Road</li>
                <li>EH10 5DT</li>
                <li>Scotland</li>
            </ul>
            <div id="copyright">&copy; 2021 Lions Gate Gardens. All rights reserved.</div>
        </div>
    </footer>
</body>

</html>
