<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Smart Garden, website to access sensor database.">
    <meta name="keywords" content="Garden, Smart, Database, Sensors,">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/Styles.css') }}" rel="stylesheet">

    <title>Smart Garden</title>
</head>

<body>
    <!--HEADER-->
    <section id="header">
        <!--NAVIGATION-->
        <!--Fixed NavBar Begins-->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Charts">Charts</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--Fixed NavBar Ends-->
    </section>

    <!--MAIN CONTENT-->
    <div class="container">
        <div class="jumbotron">
            <h2>User Instructions</h2>
            <p>
                This website is for the use of The Lions' Gate. To access the garden's sensor readings, please click on the 'Charts' tab.
            </p>
        </div>
        <div class="jumbotron">
            <h2>About The Lions' Gate</h2>
            <p>
                The Lions' Gate is located at the Edinburgh Napier Univercity's Mercheston campus, adjacent to the univercity 
                Library. It is a inclusive sustainability gardens project that provides a garden, allotment, an outdoor laboratory and more,
                and aims at creating the right conditions for people to empower themselves.
            </p>
            <center>
            <h5>Visit the Lions' Gate website <a href="https://blogs.napier.ac.uk/thelionsgate/" target="_blank">here</a>!</h5>
            </center>
            <div class="row">
                <div class="column">
                    <img src="static/images/bench.jpg" alt="Rustic Bench" width="350" height="483.5">
                    <img src="static/images/holly.jpg" alt="Sea Holly" width="350" height="483.5">
                    <img src="static/images/leeks.jpg" alt="Wild Leeks" width="350" height="483.5">
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <ul>
                <li>
                    <h4>Address</h4>
                </li>
                <li>Edinburgh Napier University</li>
                <li>Merchsiton Campus</li>
                <li>10 Colinton Road</li>
                <li>EH10 5DT</li>
                <li>Scotland</li>
            </ul>
            <div id="copyright">&copy; 2021 Lions Gate Gardens. All rights reserved.</div>
        </div>
        <!-- /.container -->
    </footer>
</body>

</html>