<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Smart Garden, website to access sensor database.">
    <meta name="keywords" content="Garden, Smart, Database, Sensors,">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/Styles.css') }}" rel="stylesheet">

    <title>Smart Garden</title>
</head>

<body>
    <!--HEADER-->
    <section id="header">
        <!--NAVIGATION-->
        <!--Fixed NavBar Begins-->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Charts">Charts</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="sensors.html">Sensors<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--Fixed NavBar Ends-->
    </section>

    <!--MAIN CONTENT-->
    <div class="container">
        <div class="jumbotron">
            <h2>Sensor Information</h2>
            <h4>Weather</h4>
            <ul>
                <li>
                    Adafruit TSL2591 High Dynamic Range Digital Light Sensor
                </li>
                <li>
                    Sensirion SHT31 Smart Gadget, Temperature & Humidity Sensor Evaluation Module
                </li>
                <li>
                    Rapid G205 Polycarbonate Box 115 x 65 x 55
                </li>
                <li>
                    5 x GY-21 HTU21 Humidity and Temperature Sensor Module SHT21
                </li>
                <li>
                    5 x GY-BME280 High Precision Digital Sensor Breakout Barometric Pressure Temperature Humidity Module
                </li>
                <li>
                    Weather Meters (SEN-08942)
                </li>
                <li>
                    RJ11 Breakout Board
                </li>
            </ul>
            <p>
                These sensors will take readings of light, temperature, Humidity, wind, as well as barometric pressure.
            </p>
            <h4>Soil/Compost</h4>
            <ul>
                <li>
                    Waterproof DS18B20 digital temperature sensor
                </li>
                <li>
                    Moisture Sensor
                </li>
            </ul>
            <p>
                These sensors will take readings of temperature and moisture in a more condensed environment unlike the weather sensors.
            </p>

        </div>
    </div>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <ul>
                <li>
                    <h4>Address</h4>
                </li>
                <li>Edinburgh Napier University</li>
                <li>Merchsiton Campus</li>
                <li>10 Colinton Road</li>
                <li>EH10 5DT</li>
                <li>Scotland</li>
            </ul>
            <div id="copyright">&copy; 2021 Lions Gate Gardens. All rights reserved.</div>
        </div>
        <!-- /.container -->
    </footer>
</body>

</html>